.dropzone .template-preview {
  float: right;
  margin-top: 24px;
}
.dropzone .template-name {
  display: inline-block;
}
.dropzone .template-preview {
  float: right;
  margin-top: 24px;
}
.dropzone .template-name {
  display: inline-block;
}
.dropzone.estimation-canvas {
  overflow: hidden;
}
@page {
  size: A4;
  margin: 0;
}
@media print {
  .dropzone .dropzone-container {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
.make-centerestimate-phase3 .est-checkbox {
  margin: auto;
  width: 794px;
}
.make-centerestimate-phase3 [data-medium-editor-element] {
  min-height: inherit;
}
.make-centerestimate-phase3 .dropzone-container {
  float: left;
  background: url(img/a4-size.png) 0px -75px #fff;
  background-repeat-x: no-repeat;
}
.make-centerestimate-phase3.create-estimation-job .dropzone-container {
  height: 1122px;
  background-image: none;
}
.make-centerestimate-phase3 .est-checkbox {
  margin: auto;
  width: 794px;
}
.make-centerestimate-phase3 [data-medium-editor-element] {
  min-height: inherit;
}
.make-centerestimate-phase3 .dropzone-container {
  float: left;
  min-height: 950px;
}
.make-centerestimate-phase3 .text-dropdown-propoal:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-48%);
  -webkit-transform: translateY(-48%);
}
.make-centerestimate-phase3.create-estimation-job .dropzone-container {
  height: 1122px;
  background-image: none;
}
.make-centerestimate-phase4 {
  float: left;
}
.make-centerestimate-phase4 .est-checkbox {
  float: left;
}
.make-centerestimate-phase4 .legal-page.legal-size-proposal .dropzone-container {
  min-height: 1344px;
  height: auto;
  background: url(img/legal-size.png) 0 0 #fff;
  background-repeat-x: no-repeat;
}
.make-centerestimate-phase4 .legal-page.legal-size-estimate .dropzone-container {
  height: 1344px;
  background: none;
}
.make-centerestimate-phase4 .a4-page.a4-size-proposal .dropzone-container {
  min-height: 1122px;
  height: auto;
  background: url(img/a4-size.png) 0 0 #fff;
  background-repeat-x: no-repeat;
}
.make-centerestimate-phase4 .a4-page.a4-size-estimate .dropzone-container {
  height: 1122px;
  background: none;
}
.make-centerestimate-phase4 .legal-page.legal-size-proposal.hide-backgroud-breaker .dropzone-container {
  background-image: none;
}
.make-centerestimate-phase4 .legal-page.legal-size-proposal .dropzone-container {
  min-height: 1344px;
  height: auto;
  background: url(img/legal-size.png) 0 0 #fff;
  background-position: 0 10px;
}
.make-centerestimate-phase4 .legal-page.legal-size-proposal .dropzone-container .import-image .img-section {
  height: 605px;
}
.make-centerestimate-phase4 .legal-page.legal-size-proposal .dropzone-container .import-image .img-section img {
  max-height: 92%;
}
.make-centerestimate-phase4 .legal-page.legal-size-estimate .dropzone-container {
  height: 1344px;
  background: none;
}
.make-centerestimate-phase4 .a4-page.a4-size-proposal.hide-backgroud-breaker .dropzone-container {
  background-image: none;
}
.make-centerestimate-phase4 .a4-page.a4-size-proposal .dropzone-container {
  min-height: 1122px;
  height: auto;
  background: url(img/a4-size.png) 0 0 #fff;
  background-position: 0 10px;
}
.make-centerestimate-phase4 .a4-page.a4-size-proposal .dropzone-container .import-image .img-section {
  height: 500px;
}
.make-centerestimate-phase4 .a4-page.a4-size-proposal .dropzone-container .import-image .img-section img {
  max-height: 92%;
}
.make-centerestimate-phase4 .a4-page.a4-size-estimate .dropzone-container {
  height: 1122px;
  background: none;
}
.anchor-text-color a {
  color: #0000ff;
  text-decoration: none;
}
.disable-anchor-events a {
  pointer-events: none;
}
.dropzone-container .section.template-section {
  float: left;
}
.dropzone-container .section.template-section .template-list-row {
  max-width: 734px;
  width: auto;
}
.dropzone-container .section.template-section .line {
  float: left;
}
.dropzone-container .section.template-section .space {
  float: left;
  height: 1px;
}
.dropzone-container .section.template-section .label {
  float: left;
  line-height: 16px;
}
.dropzone-container .section.template-section .label p {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: 16px;
}
.dropzone-container .section.template-section .img {
  float: left;
}
.dropzone-container .section.template-section .switch {
  float: left;
}
.all-prw-templates .dropzone-container {
  float: left;
  min-height: 800px;
  background: url(img/a4-size.png) 0px -75px #fff;
  background-repeat-x: no-repeat;
}
.all-prw-templates .estimate-template-container {
  margin: auto;
  width: 825px;
}

.dropzone-container {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: white;
  width: 794px;
  height: auto;
  display: block;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.5cm;
  padding-left: 0.8cm;
  padding-right: 0.8cm;
  padding-top: 0.9cm;
  padding-bottom: 0.9cm;
}
.dropzone-container .item {
  font-size: 100%;
}
.dropzone-container p {
  line-height: 12px;
  font-size: 12px;
  margin: 0;
  white-space: normal;
}
.dropzone-container p, .dropzone-container span, .dropzone-container h1, .dropzone-container h2, .dropzone-container h3, .dropzone-container h4, .dropzone-container h5, .dropzone-container h6, .dropzone-container a, .dropzone-container .well, .dropzone-container .dropdown-menu > li > a {
  font-weight: normal;
}
.dropzone-container .template-section {
  height: 100%;
}
.dropzone-container .section {
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: 0;
  height: 100%;
  font-size: 0;
  line-height: 0;
  height: 100%;
}
.dropzone-container .section .switch {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.dropzone-container .section .switch label {
  padding: 0;
}
.dropzone-container .section .space {
  border: none;
  height: 0;
  line-height: 0;
}
.dropzone-container .section img {
  width: 100%;
}
.dropzone-container .section .space {
  border: none;
  height: 0;
  line-height: 0;
}
.dropzone-container .section img {
  width: 100%;
}
.dropzone-container .section ul {
  line-height: 0;
  height: 100%;
}
.dropzone-container .section li {
  vertical-align: middle;
  display: inline-block;
}
.dropzone-container .section li.space {
  border: none;
  height: 0;
  line-height: 0;
}
.dropzone-container .section li img {
  width: 100%;
}
.dropzone-container .section .title {
  display: block;
}
.dropzone-container .section .title h2 {
  font-size: 20px;
  text-align: center;
  color: #666;
}
.dropzone-container .section .img img {
  max-height: 100%;
  width: 100%;
}
.dropzone-container .section .sign {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: center;
  border: 1px solid #ccc;
}
.dropzone-container .section .sign img {
  max-height: 75%;
}
.dropzone-container .section .sign .sign-date {
  font-size: 10px;
  height: 25px;
  line-height: 22px;
  border-top: 1px solid #ccc;
}
.dropzone-container .section .label {
  border-radius: 0;
  font-size: 14px;
  padding: 0px;
  text-align: left;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  -ms-user-select: text;
  float: left;
}
.dropzone-container .section .input, .dropzone-container .section .img {
  display: inline-block;
  vertical-align: middle;
}
.dropzone-container .section .label:before, .dropzone-container .section .input:before, .dropzone-container .section .space .space:before, .dropzone-container .section .line .new-line:before {
  content: "";
  height: 22px;
  width: 10px;
  position: absolute;
  left: 0;
  top: 1px;
  z-index: 1;
}
.dropzone-container .section label {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  margin: 0;
  color: #555;
  font-weight: normal;
}
.dropzone-container .section .space {
  display: inline-block;
  vertical-align: middle;
}
.dropzone-container .section .space .space {
  margin: 0px;
  position: relative;
  overflow: hidden;
}
.dropzone-container .section .line {
  display: block;
  height: 5px;
  float: left;
  width: 100%;
}
.dropzone-container .section .line .new-line {
  padding: 0;
  margin: 5px 0;
  position: relative;
}
.dropzone-container .section .input {
  position: relative;
  overflow: hidden;
  float: left;
}
.dropzone-container .section .input > div {
  min-height: 22px;
}

.dropzone-container .section .input input {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  min-height: inherit;
  border-radius: 1px;
  box-shadow: none;
  height: 100%;
  min-height: 22px;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px dotted #ccc;
  background: none;
  width: 100%;
  border-right: none;
  border-left: none;
  box-shadow: none;
}
.dropzone-container .section .input input:focus {
  outline: none;
}
.dropzone-container .section .col1, .dropzone-container .section .col2, .dropzone-container .section .col3, .dropzone-container .section .col4, .dropzone-container .section .col5, .dropzone-container .section .col6, .dropzone-container .section .col7, .dropzone-container .section .col8, .dropzone-container .section .col9, .dropzone-container .section .col10 {
  display: block;
  clear: both;
}
.dropzone-container .section .col1 label.label {
  padding-left: 5px;
}
.dropzone-container .section .col1 .input-filled {
  padding-left: 5px;
}
.dropzone-container .section .droppable-col {
  padding: 0px;
  margin: 0;
}
.dropzone-container .section input[type="radio"], .dropzone-container .section input[type="checkbox"] {
  margin: 0;
}
.dropzone-container .section .sign {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: center;
  border: 1px solid #ccc;
}
.dropzone-container .section .sign img {
  max-height: 75%;
}
.dropzone-container .section .sign .sign-date {
  font-size: 10px;
  height: 25px;
  line-height: 22px;
  border-top: 1px solid #ccc;
}
.dropzone-container .ui-resizable-handle {
  display: none;
}
#template-editor-proposals .legal-page.legal-size-proposal .dropzone-container {
  min-height: 1344px;
  height: auto;
  background: url(img/legal-size.png) 0 0 #fff;
  background-repeat-x: no-repeat;
}
#template-editor-proposals .legal-page.legal-size-estimate .dropzone-container {
  height: 1344px;
}
.dropzone-container {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: white;
  width: 794px;
  height: auto;
  display: block;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.8cm;
  padding-right: 0.8cm;
  padding-top: 0.9cm;
  padding-bottom: 0.9cm;
}
.dropzone-container .item {
  font-size: 100%;
}
.dropzone-container p {
  line-height: 12px;
  font-size: 12px;
  margin: 0;
  white-space: normal;
}
.dropzone-container p, .dropzone-container span, .dropzone-container h1, .dropzone-container h2, .dropzone-container h3, .dropzone-container h4, .dropzone-container h5, .dropzone-container h6, .dropzone-container a, .dropzone-container .well, .dropzone-container .dropdown-menu > li > a {
  font-weight: normal;
}
.dropzone-container .template-section {
  height: 100%;
}
.dropzone-container .section {
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: 0;
  height: 100%;
  font-size: 0;
  line-height: 0;
  height: 100%;
}
.dropzone-container .section .switch {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.dropzone-container .section .switch label {
  padding: 0;
}
.dropzone-container .section .space {
  border: none;
  height: 0;
  line-height: 0;
}
.dropzone-container .section img {
  width: 100%;
}
.dropzone-container .section .space {
  border: none;
  height: 0;
  line-height: 0;
}
.dropzone-container .section img {
  width: 100%;
}
.dropzone-container .section ul {
  line-height: 0;
  height: 100%;
}
.dropzone-container .section li {
  vertical-align: middle;
  display: inline-block;
}
.dropzone-container .section li.space {
  border: none;
  height: 0;
  line-height: 0;
}
.dropzone-container .section li img {
  width: 100%;
}
.dropzone-container .section .title {
  display: block;
}
.dropzone-container .section .title h2 {
  font-size: 20px;
  text-align: center;
  color: #666;
}
.dropzone-container .section .img img {
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.dropzone-container .section .sign {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: center;
  border: 1px solid #ccc;
}
.dropzone-container .section .sign img {
  max-height: 75%;
}
.dropzone-container .section .sign .sign-date {
  font-size: 10px;
  height: 25px;
  line-height: 22px;
  border-top: 1px solid #ccc;
}
.dropzone-container .section .label {
  border-radius: 0;
  font-size: 14px;
  padding: 0px;
  text-align: left;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  -ms-user-select: text;
  float: left;
}
.dropzone-container .section .input, .dropzone-container .section .img {
  display: inline-block;
  vertical-align: middle;
}
.dropzone-container .section .label:before, .dropzone-container .section .input:before, .dropzone-container .section .space .space:before, .dropzone-container .section .line .new-line:before {
  content: "";
  height: 22px;
  width: 10px;
  position: absolute;
  left: 0;
  top: 1px;
  z-index: 1;
}
.dropzone-container .section label {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  margin: 0;
  color: #555;
  font-weight: normal;
}
.dropzone-container .section .space {
  display: inline-block;
  vertical-align: middle;
}
.dropzone-container .section .space .space {
  margin: 0px;
  position: relative;
  overflow: hidden;
}
.dropzone-container .section .math {
  clear: both;
}
.dropzone-container .section .line {
  display: block;
  height: 5px;
  float: left;
  width: 100%;
}
.dropzone-container .section .line .new-line {
  padding: 0;
  margin: 5px 0;
  position: relative;
}
.dropzone-container .section .textarea {
  float: left;
}
.dropzone-container .section .textarea textarea {
  font-size: 14px;
  padding: 2px 0;
  border: 0;
  resize: none;
  overflow: hidden;
  border-bottom: 2px dotted #000;
  outline: none !important;
  background: inherit;
}
.dropzone-container .section .input {
  position: relative;
  overflow: hidden;
  float: left;
}
.dropzone-container .section .input > div {
  min-height: 22px;
}
.dropzone-container .section .input input {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  min-height: inherit;
  border-radius: 1px;
  box-shadow: none;
  height: 100%;
  min-height: 22px;
  padding: 0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px dotted #000;
  background: none;
  width: 100%;
  border-right: none;
  border-left: none;
  box-shadow: none;
}
.dropzone-container .section .input input:focus {
  outline: none;
}
.dropzone-container .section .input input[disabled] {
  opacity: 1;
}
.dropzone-container .section .col1, .dropzone-container .section .col2, .dropzone-container .section .col3, .dropzone-container .section .col4, .dropzone-container .section .col5, .dropzone-container .section .col6, .dropzone-container .section .col7, .dropzone-container .section .col8, .dropzone-container .section .col9, .dropzone-container .section .col10 {
  display: block;
  clear: both;
}
.dropzone-container .section .col1 label.label {
  padding-left: 5px;
}
.dropzone-container .section .col1 .input-filled {
  padding-left: 5px;
}
.dropzone-container .section .droppable-col {
  padding: 0px;
  margin: 0;
}
.dropzone-container .section input[type="radio"], .dropzone-container .section input[type="checkbox"] {
  margin: 0;
}
.dropzone-container .section .sign {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: center;
  border: 1px solid #ccc;
}
.dropzone-container .section .sign img {
  max-height: 75%;
}
.dropzone-container .section .sign .sign-date {
  font-size: 10px;
  height: 25px;
  line-height: 22px;
  border-top: 1px solid #ccc;
}
.dropzone-container .ui-resizable-handle {
  display: none;
}
.ie-template .dropzone-container [data-medium-editor-element] {
  min-height: 100%;
}
.wkhtml-print .title {
  line-height: 24px;
}
.wkhtml-print .dropzone-container .section .col1 .input-filled, .wkhtml-print .dropzone-container .section .col1 label.label {
  padding-left: 5px;
}
.wkhtml-print .dropzone-container table td {
  padding: 0;
}
.wkhtml-print .dropzone-container .image-actions {
  display: none;
}
.wkhtml-print.legal-page.legal-size-proposal .dropzone-container {
  float: left;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}
.wkhtml-print.legal-page.legal-size-proposal .dropzone-container .import-image .img-section {
  height: 605px;
}
.wkhtml-print.legal-page.legal-size-proposal .dropzone-container .import-image .img-section img {
  max-height: 92%;
}
.wkhtml-print.legal-page.legal-size-estimate .dropzone-container {
  float: left;
  height: 1344px;
  background: none;
}
.wkhtml-print.a4-page.a4-size-proposal .dropzone-container {
  float: left;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}
.wkhtml-print.a4-page.a4-size-proposal .dropzone-container .import-image .img-section {
  height: 500px;
}
.wkhtml-print.a4-page.a4-size-proposal .dropzone-container .import-image .img-section img {
  max-height: 92%;
}
.wkhtml-print.a4-page.a4-size-estimate .dropzone-container {
  float: left;
  height: 1122px;
  background: none;
}
.group-template-selling-sheet .dropzone-container .insurance-html-images .insurance-financial table tbody {
  border: 1px solid;
}
.group-template-selling-sheet .dropzone-container .insurance-html-images .img-section .image-heading {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
}
.platform-ios input, .platform-ios textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.platform-ios .dropzone-container .section.template-section input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

.click-select-btn-subscribers {
  position: absolute;
  bottom: 2px;
}
.click-select-btn-subscribers .btn-subs {
  padding: 3px 10px;
  font-size: 12px;
  display: inline-block;
  border: 1px solid #ccc;
}
.click-select-btn-subscribers .btn-yes {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.click-select-btn-subscribers .btn-no {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background: #fff;
}
.click-select-btn-subscribers .btn-default {
  color: #333 !important;
  background-color: #fff !important;
  border-color: #ccc !important;
}
.click-select-btn-subscribers .btn-primary {
  color: #fff !important;
  background-color: #428bca !important;
  border-color: #357ebd !important;
}

.click-select-btn-subscribers a {
  pointer-events: auto !important;
}

#templateBody {
    outline: none;
    width: 100%;
}

textarea:focus {
  outline: none;
}

.multi-choice {
  height: fit-content;
}

.template-list-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.template-list-row:after {
  content: " ";
  clear: both;
  display: block;
}
.template-list-row .col-flex-1 {
  width: 100%;
}
.template-list-row .col-flex-2 {
  width: 50%;
}
.template-list-row .col-flex-3 {
  width: 33.33%;
}
.template-list-row .col-flex-4 {
  width: 25%;
}
.template-list-row .col-flex-5 {
  width: 20%;
}
.template-list-row .col-flex-6 {
  width: 16.66%;
}
.template-list-row .col-flex-7 {
  width: 14.28%;
}
.template-list-row .col-flex-8 {
  width: 12.5%;
}
.template-list-row .col-flex-9 {
  width: 11.11%;
}
.template-list-row .col-flex-10 {
  width: 10%;
}
.template-list-row.border .col-flex-1, .template-list-row.border .col-flex-2, .template-list-row.border .col-flex-3, .template-list-row.border .col-flex-4, .template-list-row.border .col-flex-5, .template-list-row.border .col-flex-6, .template-list-row.border .col-flex-7, .template-list-row.border .col-flex-8, .template-list-row.border .col-flex-9, .template-list-row.border .col-flex-10 {
  border: 1px solid #ccc;
}
.template-list-row.border .col-flex-1.droppable-col ul, .template-list-row.border .col-flex-2.droppable-col ul, .template-list-row.border .col-flex-3.droppable-col ul, .template-list-row.border .col-flex-4.droppable-col ul, .template-list-row.border .col-flex-5.droppable-col ul, .template-list-row.border .col-flex-6.droppable-col ul, .template-list-row.border .col-flex-7.droppable-col ul, .template-list-row.border .col-flex-8.droppable-col ul, .template-list-row.border .col-flex-9.droppable-col ul, .template-list-row.border .col-flex-10.droppable-col ul {
  padding: 0 5px;
}
.template-list-row.border .col-flex-1.droppable-col .col-flex-1, .template-list-row.border .col-flex-2.droppable-col .col-flex-1, .template-list-row.border .col-flex-3.droppable-col .col-flex-1, .template-list-row.border .col-flex-4.droppable-col .col-flex-1, .template-list-row.border .col-flex-5.droppable-col .col-flex-1, .template-list-row.border .col-flex-6.droppable-col .col-flex-1, .template-list-row.border .col-flex-7.droppable-col .col-flex-1, .template-list-row.border .col-flex-8.droppable-col .col-flex-1, .template-list-row.border .col-flex-9.droppable-col .col-flex-1, .template-list-row.border .col-flex-10.droppable-col .col-flex-1, .template-list-row.border .col-flex-1.droppable-col .col-flex-2, .template-list-row.border .col-flex-2.droppable-col .col-flex-2, .template-list-row.border .col-flex-3.droppable-col .col-flex-2, .template-list-row.border .col-flex-4.droppable-col .col-flex-2, .template-list-row.border .col-flex-5.droppable-col .col-flex-2, .template-list-row.border .col-flex-6.droppable-col .col-flex-2, .template-list-row.border .col-flex-7.droppable-col .col-flex-2, .template-list-row.border .col-flex-8.droppable-col .col-flex-2, .template-list-row.border .col-flex-9.droppable-col .col-flex-2, .template-list-row.border .col-flex-10.droppable-col .col-flex-2, .template-list-row.border .col-flex-1.droppable-col .col-flex-3, .template-list-row.border .col-flex-2.droppable-col .col-flex-3, .template-list-row.border .col-flex-3.droppable-col .col-flex-3, .template-list-row.border .col-flex-4.droppable-col .col-flex-3, .template-list-row.border .col-flex-5.droppable-col .col-flex-3, .template-list-row.border .col-flex-6.droppable-col .col-flex-3, .template-list-row.border .col-flex-7.droppable-col .col-flex-3, .template-list-row.border .col-flex-8.droppable-col .col-flex-3, .template-list-row.border .col-flex-9.droppable-col .col-flex-3, .template-list-row.border .col-flex-10.droppable-col .col-flex-3, .template-list-row.border .col-flex-1.droppable-col .col-flex-4, .template-list-row.border .col-flex-2.droppable-col .col-flex-4, .template-list-row.border .col-flex-3.droppable-col .col-flex-4, .template-list-row.border .col-flex-4.droppable-col .col-flex-4, .template-list-row.border .col-flex-5.droppable-col .col-flex-4, .template-list-row.border .col-flex-6.droppable-col .col-flex-4, .template-list-row.border .col-flex-7.droppable-col .col-flex-4, .template-list-row.border .col-flex-8.droppable-col .col-flex-4, .template-list-row.border .col-flex-9.droppable-col .col-flex-4, .template-list-row.border .col-flex-10.droppable-col .col-flex-4, .template-list-row.border .col-flex-1.droppable-col .col-flex-5, .template-list-row.border .col-flex-2.droppable-col .col-flex-5, .template-list-row.border .col-flex-3.droppable-col .col-flex-5, .template-list-row.border .col-flex-4.droppable-col .col-flex-5, .template-list-row.border .col-flex-5.droppable-col .col-flex-5, .template-list-row.border .col-flex-6.droppable-col .col-flex-5, .template-list-row.border .col-flex-7.droppable-col .col-flex-5, .template-list-row.border .col-flex-8.droppable-col .col-flex-5, .template-list-row.border .col-flex-9.droppable-col .col-flex-5, .template-list-row.border .col-flex-10.droppable-col .col-flex-5, .template-list-row.border .col-flex-1.droppable-col .col-flex-6, .template-list-row.border .col-flex-2.droppable-col .col-flex-6, .template-list-row.border .col-flex-3.droppable-col .col-flex-6, .template-list-row.border .col-flex-4.droppable-col .col-flex-6, .template-list-row.border .col-flex-5.droppable-col .col-flex-6, .template-list-row.border .col-flex-6.droppable-col .col-flex-6, .template-list-row.border .col-flex-7.droppable-col .col-flex-6, .template-list-row.border .col-flex-8.droppable-col .col-flex-6, .template-list-row.border .col-flex-9.droppable-col .col-flex-6, .template-list-row.border .col-flex-10.droppable-col .col-flex-6, .template-list-row.border .col-flex-1.droppable-col .col-flex-7, .template-list-row.border .col-flex-2.droppable-col .col-flex-7, .template-list-row.border .col-flex-3.droppable-col .col-flex-7, .template-list-row.border .col-flex-4.droppable-col .col-flex-7, .template-list-row.border .col-flex-5.droppable-col .col-flex-7, .template-list-row.border .col-flex-6.droppable-col .col-flex-7, .template-list-row.border .col-flex-7.droppable-col .col-flex-7, .template-list-row.border .col-flex-8.droppable-col .col-flex-7, .template-list-row.border .col-flex-9.droppable-col .col-flex-7, .template-list-row.border .col-flex-10.droppable-col .col-flex-7, .template-list-row.border .col-flex-1.droppable-col .col-flex-8, .template-list-row.border .col-flex-2.droppable-col .col-flex-8, .template-list-row.border .col-flex-3.droppable-col .col-flex-8, .template-list-row.border .col-flex-4.droppable-col .col-flex-8, .template-list-row.border .col-flex-5.droppable-col .col-flex-8, .template-list-row.border .col-flex-6.droppable-col .col-flex-8, .template-list-row.border .col-flex-7.droppable-col .col-flex-8, .template-list-row.border .col-flex-8.droppable-col .col-flex-8, .template-list-row.border .col-flex-9.droppable-col .col-flex-8, .template-list-row.border .col-flex-10.droppable-col .col-flex-8, .template-list-row.border .col-flex-1.droppable-col .col-flex-9, .template-list-row.border .col-flex-2.droppable-col .col-flex-9, .template-list-row.border .col-flex-3.droppable-col .col-flex-9, .template-list-row.border .col-flex-4.droppable-col .col-flex-9, .template-list-row.border .col-flex-5.droppable-col .col-flex-9, .template-list-row.border .col-flex-6.droppable-col .col-flex-9, .template-list-row.border .col-flex-7.droppable-col .col-flex-9, .template-list-row.border .col-flex-8.droppable-col .col-flex-9, .template-list-row.border .col-flex-9.droppable-col .col-flex-9, .template-list-row.border .col-flex-10.droppable-col .col-flex-9, .template-list-row.border .col-flex-1.droppable-col .col-flex-10, .template-list-row.border .col-flex-2.droppable-col .col-flex-10, .template-list-row.border .col-flex-3.droppable-col .col-flex-10, .template-list-row.border .col-flex-4.droppable-col .col-flex-10, .template-list-row.border .col-flex-5.droppable-col .col-flex-10, .template-list-row.border .col-flex-6.droppable-col .col-flex-10, .template-list-row.border .col-flex-7.droppable-col .col-flex-10, .template-list-row.border .col-flex-8.droppable-col .col-flex-10, .template-list-row.border .col-flex-9.droppable-col .col-flex-10, .template-list-row.border .col-flex-10.droppable-col .col-flex-10 {
  border: none;
  border-right: 1px solid #ccc;
}
.template-list-row.border .col-flex-1.droppable-col .col-flex-1:last-child, .template-list-row.border .col-flex-2.droppable-col .col-flex-1:last-child, .template-list-row.border .col-flex-3.droppable-col .col-flex-1:last-child, .template-list-row.border .col-flex-4.droppable-col .col-flex-1:last-child, .template-list-row.border .col-flex-5.droppable-col .col-flex-1:last-child, .template-list-row.border .col-flex-6.droppable-col .col-flex-1:last-child, .template-list-row.border .col-flex-7.droppable-col .col-flex-1:last-child, .template-list-row.border .col-flex-8.droppable-col .col-flex-1:last-child, .template-list-row.border .col-flex-9.droppable-col .col-flex-1:last-child, .template-list-row.border .col-flex-10.droppable-col .col-flex-1:last-child, .template-list-row.border .col-flex-1.droppable-col .col-flex-2:last-child, .template-list-row.border .col-flex-2.droppable-col .col-flex-2:last-child, .template-list-row.border .col-flex-3.droppable-col .col-flex-2:last-child, .template-list-row.border .col-flex-4.droppable-col .col-flex-2:last-child, .template-list-row.border .col-flex-5.droppable-col .col-flex-2:last-child, .template-list-row.border .col-flex-6.droppable-col .col-flex-2:last-child, .template-list-row.border .col-flex-7.droppable-col .col-flex-2:last-child, .template-list-row.border .col-flex-8.droppable-col .col-flex-2:last-child, .template-list-row.border .col-flex-9.droppable-col .col-flex-2:last-child, .template-list-row.border .col-flex-10.droppable-col .col-flex-2:last-child, .template-list-row.border .col-flex-1.droppable-col .col-flex-3:last-child, .template-list-row.border .col-flex-2.droppable-col .col-flex-3:last-child, .template-list-row.border .col-flex-3.droppable-col .col-flex-3:last-child, .template-list-row.border .col-flex-4.droppable-col .col-flex-3:last-child, .template-list-row.border .col-flex-5.droppable-col .col-flex-3:last-child, .template-list-row.border .col-flex-6.droppable-col .col-flex-3:last-child, .template-list-row.border .col-flex-7.droppable-col .col-flex-3:last-child, .template-list-row.border .col-flex-8.droppable-col .col-flex-3:last-child, .template-list-row.border .col-flex-9.droppable-col .col-flex-3:last-child, .template-list-row.border .col-flex-10.droppable-col .col-flex-3:last-child, .template-list-row.border .col-flex-1.droppable-col .col-flex-4:last-child, .template-list-row.border .col-flex-2.droppable-col .col-flex-4:last-child, .template-list-row.border .col-flex-3.droppable-col .col-flex-4:last-child, .template-list-row.border .col-flex-4.droppable-col .col-flex-4:last-child, .template-list-row.border .col-flex-5.droppable-col .col-flex-4:last-child, .template-list-row.border .col-flex-6.droppable-col .col-flex-4:last-child, .template-list-row.border .col-flex-7.droppable-col .col-flex-4:last-child, .template-list-row.border .col-flex-8.droppable-col .col-flex-4:last-child, .template-list-row.border .col-flex-9.droppable-col .col-flex-4:last-child, .template-list-row.border .col-flex-10.droppable-col .col-flex-4:last-child, .template-list-row.border .col-flex-1.droppable-col .col-flex-5:last-child, .template-list-row.border .col-flex-2.droppable-col .col-flex-5:last-child, .template-list-row.border .col-flex-3.droppable-col .col-flex-5:last-child, .template-list-row.border .col-flex-4.droppable-col .col-flex-5:last-child, .template-list-row.border .col-flex-5.droppable-col .col-flex-5:last-child, .template-list-row.border .col-flex-6.droppable-col .col-flex-5:last-child, .template-list-row.border .col-flex-7.droppable-col .col-flex-5:last-child, .template-list-row.border .col-flex-8.droppable-col .col-flex-5:last-child, .template-list-row.border .col-flex-9.droppable-col .col-flex-5:last-child, .template-list-row.border .col-flex-10.droppable-col .col-flex-5:last-child, .template-list-row.border .col-flex-1.droppable-col .col-flex-6:last-child, .template-list-row.border .col-flex-2.droppable-col .col-flex-6:last-child, .template-list-row.border .col-flex-3.droppable-col .col-flex-6:last-child, .template-list-row.border .col-flex-4.droppable-col .col-flex-6:last-child, .template-list-row.border .col-flex-5.droppable-col .col-flex-6:last-child, .template-list-row.border .col-flex-6.droppable-col .col-flex-6:last-child, .template-list-row.border .col-flex-7.droppable-col .col-flex-6:last-child, .template-list-row.border .col-flex-8.droppable-col .col-flex-6:last-child, .template-list-row.border .col-flex-9.droppable-col .col-flex-6:last-child, .template-list-row.border .col-flex-10.droppable-col .col-flex-6:last-child, .template-list-row.border .col-flex-1.droppable-col .col-flex-7:last-child, .template-list-row.border .col-flex-2.droppable-col .col-flex-7:last-child, .template-list-row.border .col-flex-3.droppable-col .col-flex-7:last-child, .template-list-row.border .col-flex-4.droppable-col .col-flex-7:last-child, .template-list-row.border .col-flex-5.droppable-col .col-flex-7:last-child, .template-list-row.border .col-flex-6.droppable-col .col-flex-7:last-child, .template-list-row.border .col-flex-7.droppable-col .col-flex-7:last-child, .template-list-row.border .col-flex-8.droppable-col .col-flex-7:last-child, .template-list-row.border .col-flex-9.droppable-col .col-flex-7:last-child, .template-list-row.border .col-flex-10.droppable-col .col-flex-7:last-child, .template-list-row.border .col-flex-1.droppable-col .col-flex-8:last-child, .template-list-row.border .col-flex-2.droppable-col .col-flex-8:last-child, .template-list-row.border .col-flex-3.droppable-col .col-flex-8:last-child, .template-list-row.border .col-flex-4.droppable-col .col-flex-8:last-child, .template-list-row.border .col-flex-5.droppable-col .col-flex-8:last-child, .template-list-row.border .col-flex-6.droppable-col .col-flex-8:last-child, .template-list-row.border .col-flex-7.droppable-col .col-flex-8:last-child, .template-list-row.border .col-flex-8.droppable-col .col-flex-8:last-child, .template-list-row.border .col-flex-9.droppable-col .col-flex-8:last-child, .template-list-row.border .col-flex-10.droppable-col .col-flex-8:last-child, .template-list-row.border .col-flex-1.droppable-col .col-flex-9:last-child, .template-list-row.border .col-flex-2.droppable-col .col-flex-9:last-child, .template-list-row.border .col-flex-3.droppable-col .col-flex-9:last-child, .template-list-row.border .col-flex-4.droppable-col .col-flex-9:last-child, .template-list-row.border .col-flex-5.droppable-col .col-flex-9:last-child, .template-list-row.border .col-flex-6.droppable-col .col-flex-9:last-child, .template-list-row.border .col-flex-7.droppable-col .col-flex-9:last-child, .template-list-row.border .col-flex-8.droppable-col .col-flex-9:last-child, .template-list-row.border .col-flex-9.droppable-col .col-flex-9:last-child, .template-list-row.border .col-flex-10.droppable-col .col-flex-9:last-child, .template-list-row.border .col-flex-1.droppable-col .col-flex-10:last-child, .template-list-row.border .col-flex-2.droppable-col .col-flex-10:last-child, .template-list-row.border .col-flex-3.droppable-col .col-flex-10:last-child, .template-list-row.border .col-flex-4.droppable-col .col-flex-10:last-child, .template-list-row.border .col-flex-5.droppable-col .col-flex-10:last-child, .template-list-row.border .col-flex-6.droppable-col .col-flex-10:last-child, .template-list-row.border .col-flex-7.droppable-col .col-flex-10:last-child, .template-list-row.border .col-flex-8.droppable-col .col-flex-10:last-child, .template-list-row.border .col-flex-9.droppable-col .col-flex-10:last-child, .template-list-row.border .col-flex-10.droppable-col .col-flex-10:last-child {
  border-right: none;
}
div[contenteditable="true"] {
  outline: none;
}
td[contenteditable="true"] {
  outline: none;
}
.images-page-heading[contenteditable="true"] {
  outline: none;
}
.insurance-html-images.template-section {
  width: 100%;
}
.insurance-html-images h2.images-page-heading {
  text-align: center;
  font-size: 20px;
  background: #000;
  color: #fff;
  margin: 0 0 20px;
  padding: 15px 0;
  line-height: 0;
}
.insurance-html-images .insurance-financial {
  font-size: 14px;
}
.insurance-html-images .insurance-financial table {
  table-layout: fixed;
  border-collapse: collapse;
}
.insurance-html-images .insurance-financial table th {
  text-align: left;
  background: #000;
  color: #fff;
  font-weight: normal;
}
.insurance-html-images .insurance-financial table td {
  padding: 4px 8px !important;
}
.insurance-html-images .insurance-financial table th, .insurance-html-images .insurance-financial table td {
  padding: 4px 8px;
  line-height: 1.42857143;
  vertical-align: top;
}
.insurance-html-images .image-heading {
  font-size: 17px;
  margin-bottom: 10px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}
.insurance-html-images .import-image {
  margin: 0 -10px;
}
.insurance-html-images .import-image .img-section {
  display: inline-block;
  width: 47.2%;
  margin: 0 10px;
  position: relative;
  vertical-align: top;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.insurance-html-images .import-image .img-section .image-actions {
  font-size: 15px;
  position: absolute;
  right: 0;
  height: 37px;
  z-index: 999;
  top: 4px;
}
.insurance-html-images .import-image .img-section .image-actions a {
  line-height: 38px;
  padding: 10px;
}
.insurance-html-images .import-image .img-section .image-actions a i {
  font-style: unset;
}
.insurance-html-images .import-image .img-section img {
  max-width: 100%;
  max-height: 100%;
}
.insurance-html-images .import-image .img-section {
  text-align: center;
}
.insurance-html-images .import-image .img-section img {
  width: auto;
}
.group-template-selling-sheet .dropzone-container .insurance-html-images .insurance-financial table tbody {
  border: 1px solid;
}
.group-template-selling-sheet .dropzone-container .insurance-html-images .img-section .image-heading {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
}
.insurance-html-images .import-image .img-section .image-actions a {
  color: #c81b1b;
  font-size: 30px;
}
body {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
